name: Lint + E2E + Unit Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm ci

      - name: Run Lint
        run: npm run lint

      - name: Run Tests (Unit + E2E)
        # env:
        #   MONGO_URI: "mongodb://127.0.0.1:27017/{insert your db name here}"
        #   JWT_SECRET: "{insert your jwt secret here}"
        #   JWT_EXPIRES_IN: "{insert your jwt expires in here}"
        #   GOOGLE_CLIENT_ID: "{insert your google client id here}"
        #   GOOGLE_CLIENT_SECRET: "{insert your google client secret here}"
        #   CALLBACK_URL: "{insert your callback url here}"
        #   MONGO_MEMORY_SERVER_DEBUG: 1
        run: npm run test

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: coverage
